body {
	margin: 0;
}

header {
	background: #03a9f4;
	text-align: center;
}

.logo {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
	color: antiquewhite;
}

header input {
	font-size: 20px;
	margin: 20px 0;
}